
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/node_modules/
/frontend/static/
/**/__pycache__/
setup.sh
/vertexcover/settings/local.py
/vertexcover/settings/production.py